name: 'Org Automation CI'
on:
  pull_request:
    paths:
      - 'orgs/org_management/*.py'
      - 'orgs/pyproject.toml'
      - '.github/workflows/org-management-ci.yml'
jobs:
  org-automation-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          path: community
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "community/orgs/pyproject.toml"
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install Python dependencies
        working-directory: ./community/orgs
        run: uv sync --all-extras --dev --locked
      - name: Lint Python
        working-directory: ./community/orgs
        run: |
          uv run ruff check
          uv run ruff format --check
          uv run basedpyright
      - name: Run Python tests
        working-directory: ./community/orgs
        run: uv run -m unittest discover -s .