name: 'Check Github Organization Settings PRs'
on:
  pull_request:
    paths:
      - 'orgs/*'
      - 'toc/TOC.md'
      - 'toc/working-groups/*.md'
      - '.github/workflows/org-management-check-prs.yml'
jobs:
  org-config-generation-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          path: community
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "community/orgs/pyproject.toml"
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Generate github org configuration
        working-directory: ./community/orgs
        run: |
          uv run --no-dev python -m org_management -o orgs.out.yml -b branchprotection.out.yml
